h1{
    font-family: Arial, Helvetica, sans-serif;
    text-align:center;
    font-size:70px;
    color:black;
}

h2{
    font-family:Arial, Helvetica, sans-serif;
    text-align:center;
    font-size:65px;
    color:white;
}

h3{
    font-size:40px;
    font-family: Arial, Helvetica, sans-serif;
    color:white;
}

h4{
    font-family: Arial, Helvetica, sans-serif;
    text-align:center;
    font-size: 30;
    color:black
}

.main-jumbotron-content{
    text-align: center;
}

#footer{
    height: auto;
    background-color: white;
    padding-top:30px;
    padding-bottom:30px;
    text-align: center;
}

.main-page-content{
    background-color:grey;
    width:100%;
    height:100%;
    padding-bottom: 40px;

}

p{
    font-family: Arial, Helvetica, sans-serif;
    text-align:center;
    font-size:25px;
    color:white;

}

#home-background{
    background-image:
        linear-gradient(
            rgba(192,192,192,0.5),
            rgba(192,192,192,0.5),
            rgba(192,192,192,0.5)
        ),
        url(https://i.pinimg.com/originals/2c/e6/b1/2ce6b127495659d9f97baed3adde3474.jpg);
    background-size: cover;
    background-position: top center;
    background-attachment: fixed;
}

.button{
     background-color:black;
     text-align:center;
     color:white;
}

.box {
    padding: 30px;
    border: 2px solid grey;
    text-align:center;
    background-color:white;
    margin-left: 10px;
    margin-top: 10px;
    border-radius: 25px;
}

h6{
    font-family:Arial, Helvetica, sans-serif;
    font-size:30px;
    text-align: center;
}

#email{
    text-align:center;
}

#Name{
    text-align:center;
}

#namelabel{
    text-align:center;
}

#emaillabel{
    text-align:center;
}

legend{
    text-align:center;
    font-size:35px;
}

a{
    color:white;
    border-color:black;
}

#whatiknow{
    background-color: rgba(192,192,192,0.5);
    padding: 50px;
}

#content-background{
        background-image:
            linear-gradient(
                rgba(192,192,192,0.5),
                rgba(192,192,192,0.5),
                rgba(192,192,192,0.5)
            ),
            url(https://www.semoball.com/photos/17/97/85/1797851-A.jpg);
        background-size: cover;
        background-position: top center;
        background-attachment: fixed;
        text-align: center;
}

.card-img-top{
    height:200;
}

.card-body{
    background-color: black;
    background-repeat:no-repeat;
    background-attachment: fixed;
    background-position: center;
}

.btn-primary{
    background-color:red;
    font-family: Arial, Helvetica, sans-serif;
    color:white;
    padding: 10px;
    text-align: center;
    border: solid 1px red;
}